DATABASE_URL="postgresql://user:password@ip:port/database"
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_API_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_APP_ENV=dev # dev or prod
ACCESS_ON_CREATE=true # New users (not the first) get role "visitor" instead of "user"
TZ=UTC


DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# YTDLP_COOKIES_PATH="/run/secrets/youtube-cookies.txt" # Path for production
YTDLP_JS_RUNTIMES="node"

MIXES_S3_PREFIX= # Prefix for mixes in S3
TRACKS_S3_PREFIX= # Prefix for tracks in S3
NEXT_PUBLIC_MIX_DISABLE_DURATION_LIMIT=1 # 1 for disabled, 0 for enabled
# MIX_MP3_CHANNELS=mono # mono or stereo
MIX_MP3_DEFAULT_BITRATE=96k # default bitrate for mixes
MIX_CLEANUP_CRON_SECRET= # Secret for cron job to cleanup expired mixes